.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px; /* Mantiene el mismo ancho que el header */
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-texto {
    color: white;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.footer-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
